<div class="content-wrapper">
  <div class="message-page-wrapper">
    <div class="message-page">
      <div class="message-wrapper">
        <p>Для работы в личном кабинете необходимо установить и настроить
          программное обеспечение "КриптоПро CSP" версии 4.0, имеющее
          действующий сертификат соответствия требованиям к средствам
          электронной подписи (ЭП), утвержденным приказом ФСБ России от 27
          декабря 2011 г. №796, и который может использоваться для реализации
          функций создания и проверки ЭП в соответствии с Федеральным законом от
          6 апреля 2011 г. № 63-ФЗ «Об электронной подписи».
          Более подробную информацию можно получить в разделе <a href="">Документы</a>
          Официального сайта ЕИС.</p>
      </div>
      <div class="checkbox-wrapper">
        <p>
          <input type="checkbox" name="isNotDisplay"><span>Не показывать больше это сообщение</span>
        </p>
      </div>
      <div class="buttons-wrapper">
        <a routerLink="/start-page"><button>Продолжить работу</button></a>
        <a href="/start-page"><button>Вернуться на главную страницу</button></a>
      </div>
    </div>
  </div>
</div>
