/* You can add global styles to this file, and also import other style files */
body, div, h1, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.content-wrapper {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
}

.base-page-wrapper {
  border: 2px solid #f9794c;
  width: 800px;
  height: 600px;
  margin: auto;
  text-align: center;
}

.base-page_header-wrapper {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #f9794c;
}

.base-page_header-wrapper .base-page_header {
}

.start-page-nav_wrapper {
  width: 100%;
  background-color: #f9794c;
}

.start-page-nav {
  width: 50%;
  margin: 0 auto;
}

.start-page-nav ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.start-page-nav li {
  display: inline;
}
.start-page-nav a {
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid #f9794c;
  background-color: #f9794c;
  color: #333;
  text-align: center;
  padding: 0 15px;
}
.start-page-nav a:hover{
  border-bottom: 2px solid black;
}
