<div class="registration-page-wrapper">
  <div class="registration-page">
    <div class="registration-page__header">
      <button class="button button_blue" routerLink="/tabs/registrationTab">Назад</button>
      <h3>Регистрация</h3>
      <h4>Выберите тип участника закупок:</h4>
    </div>
    <div class="list-wrapper">
        <div class="list-element-wrapper" *ngFor="let m of members">
          <div class="list-element">
            <span class="member_name">{{m}}</span>
          </div>
        </div>
    </div>
  </div>
</div>

